@page "/"

@inject QuizAuthStateProvider QuizAuthStateProvider

<PageTitle>Home</PageTitle>

@if (QuizAuthStateProvider.User is not null)
{
    <h1>Hello, @QuizAuthStateProvider.User.Name!</h1>
    <span>Welcome to your new app.</span>
}

<AuthorizeView>
    <Authorizing>
        <p>Autorizando</p>
    </Authorizing>
    <NotAuthorized>
        <p>Não autorizado</p>
    </NotAuthorized>
    <Authorized>
        <p>Autorizado: @context.User.Claims.FirstOrDefault(claim => claim.Type == ClaimTypes.Name)?.Value</p>
    </Authorized>
</AuthorizeView>
